# Gradle build folders
/build/
/.gradle/

# IntelliJ & IDE files
.idea/
*.iml
*.ipr
*.iws

# Kotlin incremental build
.kotlin/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# JUnit/Test Results
/test-results/

# Ignore Allure results if generated
allure-results/
allure-report/
